
/* --START--GOOGLE FONTS IMPORT-- */
/* Amatic SC: https://fonts.google.com/specimen/Amatic+SC */
/* Source Sans Pro: https://fonts.google.com/specimen/Source+Sans+Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,200;6..72,400&display=swap');
/* CSS rules to specify families:
font-family: 'Newsreader', serif;
font-family: 'Source Sans Pro', sans-serif; */
/* --END--GOOGLE FONTS IMPORT-- */
:root {
    --coffee: #7B5F3F;
    --capuccino: #F7E9D4;
    --ashes: #292929;
    --black: #1b1b1b;
    --light: #484848;
    --white: #ffffff;
    --gray: #D9D9D9;

    --titles: 'Newsreader', serif;
    --text: 'Source Sans Pro', sans-serif;

}

/* --START--BOX-SIZING AND REM CONFIG-- */
html {
    font-size: 125%; /* 1rem=20px */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@media (max-width: 920px) {
    html {
        font-size: 112.5%; /* 1rem=18px */
        }
}

@media (max-width: 480px) {
    html {
    font-size: 100%; /* 1rem=16px */
    }
}

/* --END--BOX-SIZING AND REM CONFIG-- */
/* --START--UNIVERSAL--CONFIG-- */
body {
    font-size: 1rem;
    color: var(--white);
    background-color: var(--black);
    font-family: var(--text);
}
a { /* a dash-line and color reset */
    text-decoration: none;
    color: var(--white);
}
/* --END--UNIVERSAL--CONFIG-- */

/* --START--HEADER-- */
.header {
    background-image: url(../images/banner.jpg);
    height: 20rem;
    background-repeat: no-repeat;
    background-position: 0% 15%; /* left 0% top 15% */
    width: 100%;
    background-size: cover;
}
/* --START--HEADER__NAV-- */
.header__nav { /* Contains two columns, one for logo and one for nav-links */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

@media (max-width: 920px) {
    .header__nav {
        flex-direction:column;
    }
}

.header__nav--logo { /* Left column - logo */
    color: white;
    text-decoration: none;
    margin-left: 5rem;
}

@media (max-width: 1440px) { /* for better ux design in laptop */
    .header__nav--logo { 
        margin-left: 0.5rem;
    }
}

.header__nav--text {
    font-size: 4rem;
    font-family: var(--titles);
    font-weight: lighter;
    margin: 0;
}

@media (max-width: 920px) {
    .header__nav--text {
        font-size: 3rem;
    }
}



.header__nav--span{
    color: var(--coffee);
    font-weight: normal;
}

.header__nav__navegation { /* Right column - nav */
    margin-right: 5rem;
}

@media (max-width: 1440px) {
    .header__nav__navegation { /* Right column - nav */
        margin-right: 0.5rem;
    }
}
@media (max-width: 920px) {
    .header__nav__navegation { /* Right column - nav */
        margin: 1rem 0rem 0rem 0rem;
    }
}

.header__nav__navegation--link {
    color: var(--white);
    padding: 0 1rem;
    text-decoration: none;
    font-size: 1rem;
}


@media (max-width: 1440px) { /* To see on laptop */
    .header__nav__navegation--link {
        padding: 0 0.5rem;
    }
}

/* --END--HEADER__NAV-- */
/* --START--HEADER__BANNER-- */
.header__text {
    text-align: center;
    margin: 0;
    text-shadow: 0px 0px 5px rgb(0 0 0 / 100%), /* Makes the text more easy to read */
                2px 2px 5px rgb(0 0 0 / 100%),
                0px 0px 5px rgb(0 0 0 / 100%);
}

@media (max-width: 480px) {
    .header__text {
        text-shadow: 0px 0px 5px rgb(0 0 0 / 100%), /* Makes the text more easy to read */
                    0px 0px 5px rgb(0 0 0 / 100%);
    }
}

.header__text--slogan {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
.header__text--legend {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
}
/* --END--HEADER__BANNER-- */
/* --START--BLOG-- */
.blog { /* two columns, one for blog and one for courses */
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 80%;
    margin: 1rem auto;
    gap: 3rem;
}

@media (max-width: 920px) {
    .blog {
        grid-template-columns: 1fr;
        width: 95%;
    }
}

@media (max-width: 920px) {
    .blog__recipes {
        grid-row: 1 / 1;
    }
}

.blog__article,
.blog__recipe {
    background-color: var(--ashes);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}
/* --START--BLOG__ARTICLES-- */

.blog__article--img {
    width: 100%;
}
.blog__article__info--title {
    font-size: 2rem;
}

.blog__article__info--legend {
    font-size: 1.5rem;
    font-weight: lighter;
}
/* --END--BLOG__ARTICLES-- */
/* --START--BLOG__RECIPES-- */
.blog__recipe {

}

.blog__recipe--title {
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.blog__recipe--img {
    width: 100%;
    margin: 1rem auto;
}

.blog__recipe--legend {
    font-weight: lighter;
}

@media (max-width: 920px) {
    .blog__recipe--legend {
    font-size: 1.5rem;
    }
}

.blog__recipe--button {
    background-color: var(--light);
    color: var(--white);
    display: flex;
    margin: 0rem 0rem 0rem auto;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer; 
}
/* --END--BLOG__RECIPES-- */
/* --END--BLOG-- */