
/* --START--GOOGLE FONTS IMPORT-- */
/* Newsreader: https://fonts.google.com/specimen/Newsreader?query=Newsreader */
/* Source Sans Pro: https://fonts.google.com/specimen/Source+Sans+Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,200;6..72,400&display=swap');
/* CSS rules to specify families:
font-family: 'Newsreader', serif;
font-family: 'Source Sans Pro', sans-serif; */
/* --END--GOOGLE FONTS IMPORT-- */
:root {
    --black: #1b1b1b;
    --midnight: #112229;
    --ashes: #292929;
    --light: #484848;
    --white: #ffffff;
    --coffee: #7B5F3F;

    --titles: 'Newsreader', serif;
    --text: 'Source Sans Pro', sans-serif;

}

/* --START--BOX-SIZING AND REM CONFIG-- */
html {
    font-size: 125%; /* 1rem=20px */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@media (max-width: 920px) {
    html {
        font-size: 112.5%; /* 1rem=18px */
        }
}

@media (max-width: 480px) {
    html {
    font-size: 100%; /* 1rem=16px */
    }
}

/* --END--BOX-SIZING AND REM CONFIG-- */
/* --START--UNIVERSAL--CONFIG-- */
body {
    font-size: 1rem;
    color: var(--white);
    background-color: var(--black);
    font-family: var(--text);
    font-weight: 200;
}
a { /* a dash-line and color reset */
    text-decoration: none;
    color: var(--white);
}
/* --END--UNIVERSAL--CONFIG-- */

/* --START--HEADER-- */
.header {
    background-image: url(../images/banner.jpg);
    height: 20rem;
    background-repeat: no-repeat;
    background-position: 0% 15%; /* left 0% top 15% */
    width: 100%;
    background-size: cover;
}

@media (max-width: 920px) {
    .header {
    height: 15rem;
    }
}
/* --START--HEADER__NAV-- */
.header__nav { /* Contains two columns, one for logo and one for nav-links */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

@media (max-width: 920px) {
    .header__nav {
        flex-direction:column;
    }
}

.header__nav--logo { /* Left column - logo */
    color: white;
    text-decoration: none;
    margin-left: 5rem;
}

@media (max-width: 1440px) { /* for better ux design in laptop */
    .header__nav--logo { 
        margin-left: 0.5rem;
    }
}

.header__nav--text {
    font-size: 4rem;
    font-family: var(--titles);
    font-weight: lighter;
    margin: 0;
}

@media (max-width: 920px) {
    .header__nav--text {
        font-size: 3rem;
    }
}



.header__nav--span{
    color: var(--coffee);
    font-weight: normal;
}

.header__nav__navegation { /* Right column - nav */
    margin-right: 5rem;
}

@media (max-width: 1440px) {
    .header__nav__navegation { /* Right column - nav */
        margin-right: 0.5rem;
    }
}
@media (max-width: 920px) {
    .header__nav__navegation { /* Right column - nav */
        margin: 1rem 0rem 0rem 0rem;
    }
}

.header__nav__navegation--link {
    color: var(--white);
    padding: 0 1rem;
    text-decoration: none;
    font-size: 1rem;
}


@media (max-width: 1440px) { /* To see on laptop */
    .header__nav__navegation--link {
        padding: 0 0.5rem;
    }
}

/* --END--HEADER__NAV-- */
/* --START--HEADER__BANNER-- */
.header__text {
    text-align: center;
    margin: 0;
    text-shadow: 0px 0px 5px rgb(0 0 0 / 100%), /* Makes the text more easy to read */
                2px 2px 5px rgb(0 0 0 / 100%),
                0px 0px 5px rgb(0 0 0 / 100%);
}

@media (max-width: 480px) {
    .header__text {
        text-shadow: 0px 0px 5px rgb(0 0 0 / 100%), /* Makes the text more easy to read */
                    0px 0px 5px rgb(0 0 0 / 100%);
    }
}

.header__text--slogan {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
.header__text--legend {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
}
/* --END--HEADER__BANNER-- */
/* --START--FOOTER-- */
.footer {
    background-color: var(--midnight);
}
/* --START--BLOG-- */
.blog { /* two columns, one for blog and one for courses */
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: min(95%, 80rem); /* if 95% of the screen is <80rem, uses it, else, use 80rem */
    margin: 1rem auto;
    gap: 3rem;
}

@media (max-width: 920px) {
    .blog {
        grid-template-columns: 1fr;

    }
}

@media (max-width: 920px) {
    .blog__recipes {
        grid-row: 1 / 1;
    }
}
.blog--title {
    font-family: var(--titles);
    font-weight: 400;
}
.blog__article,
.blog__recipe {
    background-color: var(--ashes);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;

}
/* --START--BLOG__ARTICLES-- */

.blog__article--img {
    width: 100%;
}
.blog__article__info--title {
    font-size: 2rem;
}

.blog__article__info--legend {
    font-size: 1.2rem;
    text-align: justify;
}
/* --END--BLOG__ARTICLES-- */
/* --START--BLOG__RECIPES-- */
.blog__recipe {

}

.blog__recipe--title {
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.blog__recipe--img {
    width: 100%;
    margin: 1rem auto;
}

.blog__recipe--legend {
    font-weight: lighter;
    text-align: justify;
}

@media (max-width: 920px) {
    .blog__recipe--legend {
    font-size: 1.2rem;
    }
}

.blog__recipe--button {
    background-color: var(--light);
    color: var(--white);
    display: flex;
    margin: 0rem 0rem 0rem auto;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer; 
}
/* --END--BLOG__RECIPES-- */
/* --END--BLOG-- */

/* --START--ABOUT-- */
.about { /* two columns, one for blog and one for courses */
    width: min(95%, 80rem); /* if 95% of the screen is <80rem, uses it, else, use 80rem */
    margin: 1rem auto;
    text-align: justify;
    font-size: 1.5rem;
}

.about__me {
    width: min(100%, 50rem);
    padding: 0 1rem;
    margin: 0rem auto 4rem auto;
}

.about__title {
    font-family: var(--titles);
    font-weight: 200;
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
}


/* --START--COLORS-- */

.about__colors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 0 1rem;
    margin: 0rem auto 4rem auto;
}

@media (max-width: 920px) {
    .about__colors {
        grid-template-columns: 1fr;
        margin: 0rem auto 4rem auto;
    }
}
/* --START--COLORS__COLORS-- */
.about__colors--colors {
    list-style: none;
    padding: 0;
    font-size: 1rem;
}
.about__colors--colors>* {
    padding: 1rem;
    margin: 0;
    text-align: center;
    border: 2px solid var(--ashes);
}
.about__colors--color:nth-child(1) {
    background-color: var(--black);
}
.about__colors--color:nth-child(2) {
    background-color: var(--midnight);
}
.about__colors--color:nth-child(3) {
    background-color: var(--ashes);
}

.about__colors--color:nth-child(4) {
    background-color: var(--light);
}

.about__colors--color:nth-child(5) {
    background-color: var(--coffee);
}

.about__colors--color:nth-child(6) {
    background-color: var(--white);
    color: var(--black);
}

.about__colors__text {
    display: grid;
    place-items: center;
}
.about__colors__text--link,
.about__fonts__text--link,
.about__fonts__text--link--newspaper,
.about__fonts__text--link--source {
    color: var(--coffee);
}
/* --END--COLORS__COLORS-- */
/* --END--COLORS-- */
/* --START--FONTS-- */
.about__fonts {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    padding: 0 1rem;
    margin: 0rem auto 4rem auto;
}

@media (max-width: 920px) {
    .about__fonts {
        grid-template-columns: 1fr;
    }
}

.about__fonts__text--titles--example {
    font-size: 3rem;
    font-family: var(--titles);
    margin: 0 auto;
    text-align: center;
}
.about__fonts__text--titles--example span {
    color: var(--coffee);
    font-weight: 400;
}

.about__fonts__text--source--example {
    text-align: center;
}

.about__fonts__text--gestalt--example {
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

.about__fonts__text--gestalt--example span {
    font-weight: 200;
    font-size: 1rem;
}
.about__fonts__text--link--newspaper {
    font-family: var(--titles);
    font-weight: 400;

}

.about__fonts__text--link--source {
    font-family: var(--text);
    font-weight: 400;
}
.about__fonts__text--titles,
.about__fonts__text--source,
.about__fonts__text--titles--example,
.about__fonts__text--source--example {
    margin: 0rem;
    border-bottom: 2px solid var(--light);
}

@media (max-width: 920px) {
    .about__fonts__text--titles,
    .about__fonts__text--source { 
        border-bottom: none;
    }
}

/* --END--FONTS-- */
/* --START--RECIPES-- */
/* --END--RECIPES-- */

.recipe {
    width: min(97%, 70rem); /* if 95% of the screen is <80rem, uses it, else, use 80rem */
    margin: 1rem auto;
    background-color: var(--ashes);
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--light);
    font-size: 1.3rem;
}
.recipe__container {
    width: min(95%, 45rem);
    margin: 1rem auto;
}
.recipe--title {
    font-size: 4rem;
    font-family: var(--titles);
    font-weight: 200;
    margin: 1rem auto 0 auto;
}

.recipe--legend {
    font-family: var(--titles);
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0 auto 1rem auto;
}

.recipe--image {
    width: min(100%, 30rem); /* if 95% of the container is <30rem, uses it, else, use 80rem */
}

.recipe--description {
    text-align: justify;
}